@import
  "bootstrap",
  "select2-bootstrap";


#page {  
    @extend .container;
    //width: $max-width;
    //@include pad(0 10px);
}

.messages.status {
  @extend .alert;
  @extend .alert-info;
}
.messages.error {
  @extend .alert;
  @extend .alert-danger;
}
.messages.warning {
  @extend .alert;
  @extend .alert-warning;
}


.tabs-primary {
	@extend .nav;
	@extend .nav-tabs;
	& > li.is-active {
		@extend li.active;
	}
} 

.tabs-secondary {
	& > li {
		display: inline-block;
	}
	& > li.is-active {
		@extend li.active;
	}
}

.nav-tabs > li.active > a:focus, 
.tabs-primary > li.active > a:focus {
  color: #555555;
  background-color: white;
  border: 1px solid #dddddd;
  border-bottom-color: transparent;
  cursor: default;
}


.breadcrumbs {
	@extend .breadcrumb;
	li.current {
		@extend li.active;
	}
}

/**
 * Tables
 */

table {
  @extend .table;
}

/**
 * Forms
 */

textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"] {
  @extend .form-control;
}

.form-item {
  @extend .form-group;
  //margin-top: 0;
  //margin-bottom: 1em;

  .description {
    @extend .help-block;
  }
  .field-suffix {
  }
}

