/**
 * @file
 * Generic theme-independent base styles.
 */
/**
 * Autocomplete.
 *
 * @see autocomplete.js
 */
/* Suggestion list */
/* line 13, ../../../../../../../WebDev/sass-lib/drupal7-core-for-bootstrap3/_system.base.scss */
#autocomplete {
  border: 1px solid;
  overflow: hidden;
  position: absolute;
  z-index: 100;
}

/* line 19, ../../../../../../../WebDev/sass-lib/drupal7-core-for-bootstrap3/_system.base.scss */
#autocomplete ul {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}

/* line 25, ../../../../../../../WebDev/sass-lib/drupal7-core-for-bootstrap3/_system.base.scss */
#autocomplete li {
  background: #fff;
  color: #000;
  cursor: default;
  white-space: pre;
  zoom: 1;
  /* IE7 */
}

/* Animated throbber */
/* line 33, ../../../../../../../WebDev/sass-lib/drupal7-core-for-bootstrap3/_system.base.scss */
html.js input.form-autocomplete {
  background-image: url(../images/core/misc/throbber.gif);
  background-position: 100% 2px;
  /* LTR */
  background-repeat: no-repeat;
}

/* line 38, ../../../../../../../WebDev/sass-lib/drupal7-core-for-bootstrap3/_system.base.scss */
html.js input.throbbing {
  background-position: 100% -18px;
  /* LTR */
}

/**
 * Collapsible fieldsets.
 *
 * @see collapse.js
 */
/* line 47, ../../../../../../../WebDev/sass-lib/drupal7-core-for-bootstrap3/_system.base.scss */
html.js fieldset.collapsed {
  border-bottom-width: 0;
  border-left-width: 0;
  border-right-width: 0;
  height: 1em;
}

/* line 53, ../../../../../../../WebDev/sass-lib/drupal7-core-for-bootstrap3/_system.base.scss */
html.js fieldset.collapsed .fieldset-wrapper {
  display: none;
}

/* line 56, ../../../../../../../WebDev/sass-lib/drupal7-core-for-bootstrap3/_system.base.scss */
fieldset.collapsible {
  position: relative;
}

/* line 59, ../../../../../../../WebDev/sass-lib/drupal7-core-for-bootstrap3/_system.base.scss */
fieldset.collapsible .fieldset-legend {
  display: block;
}

/**
 * Resizable textareas.
 *
 * @see textarea.js
 */
/* line 68, ../../../../../../../WebDev/sass-lib/drupal7-core-for-bootstrap3/_system.base.scss */
.form-textarea-wrapper textarea {
  display: block;
  margin: 0;
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 76, ../../../../../../../WebDev/sass-lib/drupal7-core-for-bootstrap3/_system.base.scss */
.resizable-textarea .grippie {
  background: #eeeeee url(../images/core/misc/grippie.png) no-repeat center 2px;
  border: 1px solid #ddd;
  border-top-width: 0;
  cursor: s-resize;
  height: 9px;
  overflow: hidden;
}

/**
 * TableDrag behavior.
 *
 * @see tabledrag.js
 */
/* line 90, ../../../../../../../WebDev/sass-lib/drupal7-core-for-bootstrap3/_system.base.scss */
body.drag {
  cursor: move;
}

/* line 93, ../../../../../../../WebDev/sass-lib/drupal7-core-for-bootstrap3/_system.base.scss */
.draggable a.tabledrag-handle {
  cursor: move;
  float: left;
  /* LTR */
  height: 1.7em;
  margin-left: -1em;
  /* LTR */
  overflow: hidden;
  text-decoration: none;
}

/* line 101, ../../../../../../../WebDev/sass-lib/drupal7-core-for-bootstrap3/_system.base.scss */
a.tabledrag-handle:hover {
  text-decoration: none;
}

/* line 104, ../../../../../../../WebDev/sass-lib/drupal7-core-for-bootstrap3/_system.base.scss */
a.tabledrag-handle .handle {
  background: url(../images/core/misc/draggable.png) no-repeat 0px 9px;
  height: 13px;
  margin: -0.4em 0.5em;
  /* LTR */
  padding: 0.42em 0.5em;
  /* LTR */
  width: 13px;
}

/* line 111, ../../../../../../../WebDev/sass-lib/drupal7-core-for-bootstrap3/_system.base.scss */
a.tabledrag-handle-hover .handle {
  background-position: 0px -11px;
}

/* line 114, ../../../../../../../WebDev/sass-lib/drupal7-core-for-bootstrap3/_system.base.scss */
div.indentation {
  float: left;
  /* LTR */
  height: 1.7em;
  margin: -0.4em 0.2em -0.4em -0.4em;
  /* LTR */
  padding: 0.42em 0 0.42em 0.6em;
  /* LTR */
  width: 20px;
}

/* line 121, ../../../../../../../WebDev/sass-lib/drupal7-core-for-bootstrap3/_system.base.scss */
div.tree-child {
  background: url(../images/core/misc/tree.png) no-repeat 11px center;
  /* LTR */
}

/* line 124, ../../../../../../../WebDev/sass-lib/drupal7-core-for-bootstrap3/_system.base.scss */
div.tree-child-last {
  background: url(../images/core/misc/tree-bottom.png) no-repeat 11px center;
  /* LTR */
}

/* line 127, ../../../../../../../WebDev/sass-lib/drupal7-core-for-bootstrap3/_system.base.scss */
div.tree-child-horizontal {
  background: url(../images/core/misc/tree.png) no-repeat -11px center;
}

/* line 130, ../../../../../../../WebDev/sass-lib/drupal7-core-for-bootstrap3/_system.base.scss */
.tabledrag-toggle-weight-wrapper {
  text-align: right;
  /* LTR */
}

/**
 * TableHeader behavior.
 *
 * @see tableheader.js
 */
/* line 139, ../../../../../../../WebDev/sass-lib/drupal7-core-for-bootstrap3/_system.base.scss */
table.sticky-header {
  background-color: #fff;
  margin-top: 0;
}

/**
 * Progress behavior.
 *
 * @see progress.js
 */
/* Bar */
/* line 150, ../../../../../../../WebDev/sass-lib/drupal7-core-for-bootstrap3/_system.base.scss */
.progress .bar {
  background-color: #fff;
  border: 1px solid;
}

/* line 154, ../../../../../../../WebDev/sass-lib/drupal7-core-for-bootstrap3/_system.base.scss */
.progress .filled {
  background-color: #000;
  height: 1.5em;
  width: 5px;
}

/* line 159, ../../../../../../../WebDev/sass-lib/drupal7-core-for-bootstrap3/_system.base.scss */
.progress .percentage {
  float: right;
  /* LTR */
}

/* Throbber */
/* line 163, ../../../../../../../WebDev/sass-lib/drupal7-core-for-bootstrap3/_system.base.scss */
.ajax-progress {
  display: inline-block;
}

/* line 166, ../../../../../../../WebDev/sass-lib/drupal7-core-for-bootstrap3/_system.base.scss */
.ajax-progress .throbber {
  background: transparent url(../images/core/misc/throbber.gif) no-repeat 0px -18px;
  float: left;
  /* LTR */
  height: 15px;
  margin: 2px;
  width: 15px;
}

/* line 173, ../../../../../../../WebDev/sass-lib/drupal7-core-for-bootstrap3/_system.base.scss */
.ajax-progress .message {
  padding-left: 20px;
}

/* line 176, ../../../../../../../WebDev/sass-lib/drupal7-core-for-bootstrap3/_system.base.scss */
tr .ajax-progress .throbber {
  margin: 0 2px;
}

/* line 179, ../../../../../../../WebDev/sass-lib/drupal7-core-for-bootstrap3/_system.base.scss */
.ajax-progress-bar {
  width: 16em;
}

/**
 * Inline items.
 */
/* line 187, ../../../../../../../WebDev/sass-lib/drupal7-core-for-bootstrap3/_system.base.scss */
.container-inline div,
.container-inline label {
  display: inline;
}

/* Fieldset contents always need to be rendered as block. */
/* line 191, ../../../../../../../WebDev/sass-lib/drupal7-core-for-bootstrap3/_system.base.scss */
.container-inline .fieldset-wrapper {
  display: block;
}

/**
 * Prevent text wrapping.
 */
/* line 198, ../../../../../../../WebDev/sass-lib/drupal7-core-for-bootstrap3/_system.base.scss */
.nowrap {
  white-space: nowrap;
}

/**
 * For anything you want to hide on page load when JS is enabled, so
 * that you can use the JS to control visibility and avoid flicker.
 */
/* line 206, ../../../../../../../WebDev/sass-lib/drupal7-core-for-bootstrap3/_system.base.scss */
html.js .js-hide {
  display: none;
}

/**
 * Hide elements from all users.
 *
 * Used for elements which should not be immediately displayed to any user. An
 * example would be a collapsible fieldset that will be expanded with a click
 * from a user. The effect of this class can be toggled with the jQuery show()
 * and hide() functions.
 */
/* line 218, ../../../../../../../WebDev/sass-lib/drupal7-core-for-bootstrap3/_system.base.scss */
.element-hidden {
  display: none;
}

/**
 * Hide elements visually, but keep them available for screen-readers.
 *
 * Used for information required for screen-reader users to understand and use
 * the site where visual display is undesirable. Information provided in this
 * manner should be kept concise, to avoid unnecessary burden on the user.
 * "!important" is used to prevent unintentional overrides.
 */
/* line 230, ../../../../../../../WebDev/sass-lib/drupal7-core-for-bootstrap3/_system.base.scss */
.element-invisible {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  height: 1px;
}

/**
 * The .element-focusable class extends the .element-invisible class to allow
 * the element to be focusable when navigated to via the keyboard.
 */
/* line 243, ../../../../../../../WebDev/sass-lib/drupal7-core-for-bootstrap3/_system.base.scss */
.element-invisible.element-focusable:active,
.element-invisible.element-focusable:focus {
  position: static !important;
  clip: auto;
  overflow: visible;
  height: auto;
}

/**
 * Markup free clearing.
 *
 * @see http://perishablepress.com/press/2009/12/06/new-clearfix-hack
 */
/* line 255, ../../../../../../../WebDev/sass-lib/drupal7-core-for-bootstrap3/_system.base.scss */
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/* IE6 */
/* line 263, ../../../../../../../WebDev/sass-lib/drupal7-core-for-bootstrap3/_system.base.scss */
* html .clearfix {
  height: 1%;
}

/* IE7 */
/* line 267, ../../../../../../../WebDev/sass-lib/drupal7-core-for-bootstrap3/_system.base.scss */
*:first-child + html .clearfix {
  min-height: 1%;
}

/*
 * From Zen Theme pages.scss
 */
/* line 275, ../../../../../../../WebDev/sass-lib/drupal7-core-for-bootstrap3/_system.base.scss */
.skip-link,
#skip-link {
  margin: 0;
}
/* line 279, ../../../../../../../WebDev/sass-lib/drupal7-core-for-bootstrap3/_system.base.scss */
.skip-link a,
.skip-link a:visited,
#skip-link a,
#skip-link a:visited {
  display: block;
  width: 100%;
  padding: 2px 0 3px 0;
  text-align: center;
  background-color: #666;
  color: #fff;
}

/**
 * @file
 * Basic styling for common markup.
 */
/**
 * Markup generated by theme_tablesort_indicator().
 */
/* line 55, ../../../../../../../WebDev/sass-lib/drupal7-core-for-bootstrap3/_system.theme.scss */
th.active img {
  display: inline;
}

/* line 58, ../../../../../../../WebDev/sass-lib/drupal7-core-for-bootstrap3/_system.theme.scss */
td.active {
  background-color: #dddddd;
}

/**
 * Markup generated by Form API.
 */
/* line 81, ../../../../../../../WebDev/sass-lib/drupal7-core-for-bootstrap3/_system.theme.scss */
.form-item,
.form-actions {
  margin-top: 0em;
  margin-bottom: 1em;
}

/* line 86, ../../../../../../../WebDev/sass-lib/drupal7-core-for-bootstrap3/_system.theme.scss */
tr.odd .form-item,
tr.even .form-item {
  margin-top: 0;
  margin-bottom: 0;
  white-space: nowrap;
}

/* line 91, ../../../../../../../WebDev/sass-lib/drupal7-core-for-bootstrap3/_system.theme.scss */
.form-item .description {
  font-size: 0.85em;
}

/* line 98, ../../../../../../../WebDev/sass-lib/drupal7-core-for-bootstrap3/_system.theme.scss */
label.option {
  display: inline;
  font-weight: normal;
}

/* line 103, ../../../../../../../WebDev/sass-lib/drupal7-core-for-bootstrap3/_system.theme.scss */
.form-checkboxes .form-item,
.form-radios .form-item {
  margin-top: 0.4em;
  margin-bottom: 0.4em;
}

/* line 108, ../../../../../../../WebDev/sass-lib/drupal7-core-for-bootstrap3/_system.theme.scss */
.form-type-radio .description,
.form-type-checkbox .description {
  margin-left: 2.4em;
}

/* line 112, ../../../../../../../WebDev/sass-lib/drupal7-core-for-bootstrap3/_system.theme.scss */
input.form-checkbox,
input.form-radio {
  vertical-align: middle;
}

/* line 116, ../../../../../../../WebDev/sass-lib/drupal7-core-for-bootstrap3/_system.theme.scss */
.marker,
.form-required {
  color: #f00;
}

/* line 121, ../../../../../../../WebDev/sass-lib/drupal7-core-for-bootstrap3/_system.theme.scss */
.form-item input.error,
.form-item textarea.error,
.form-item select.error {
  border: 2px solid red;
}

/**
 * Inline items.
 */
/* line 129, ../../../../../../../WebDev/sass-lib/drupal7-core-for-bootstrap3/_system.theme.scss */
.container-inline .form-actions,
.container-inline.form-actions {
  margin-top: 0;
  margin-bottom: 0;
}

/**
 * Markup generated by theme_more_help_link().
 */
/* line 147, ../../../../../../../WebDev/sass-lib/drupal7-core-for-bootstrap3/_system.theme.scss */
.more-help-link a {
  background: url(../images/core/misc/help.png) 0 50% no-repeat;
  /* LTR */
  padding: 1px 0 1px 20px;
  /* LTR */
}

/**
 * Autocomplete.
 *
 * @see autocomplete.js
 */
/* Suggestion list */
/* line 175, ../../../../../../../WebDev/sass-lib/drupal7-core-for-bootstrap3/_system.theme.scss */
#autocomplete li.selected {
  background: #0072b9;
  color: #fff;
}

/**
 * Collapsible fieldsets.
 *
 * @see collapse.js
 */
/* line 185, ../../../../../../../WebDev/sass-lib/drupal7-core-for-bootstrap3/_system.theme.scss */
html.js fieldset.collapsible .fieldset-legend {
  background: url(../images/core/misc/menu-expanded.png) 5px 65% no-repeat;
  /* LTR */
  padding-left: 15px;
  /* LTR */
}

/* line 189, ../../../../../../../WebDev/sass-lib/drupal7-core-for-bootstrap3/_system.theme.scss */
html.js fieldset.collapsed .fieldset-legend {
  background-image: url(../images/core/misc/menu-collapsed.png);
  /* LTR */
  background-position: 5px 50%;
  /* LTR */
}

/* line 193, ../../../../../../../WebDev/sass-lib/drupal7-core-for-bootstrap3/_system.theme.scss */
.fieldset-legend span.summary {
  color: #999;
  font-size: 0.9em;
  margin-left: 0.5em;
}

/**
 * TableDrag behavior.
 *
 * @see tabledrag.js
 */
/* line 204, ../../../../../../../WebDev/sass-lib/drupal7-core-for-bootstrap3/_system.theme.scss */
tr.drag {
  background-color: ivory;
}

/* line 207, ../../../../../../../WebDev/sass-lib/drupal7-core-for-bootstrap3/_system.theme.scss */
tr.drag-previous {
  background-color: #ffffdd;
}

/* line 210, ../../../../../../../WebDev/sass-lib/drupal7-core-for-bootstrap3/_system.theme.scss */
.tabledrag-toggle-weight {
  font-size: 0.9em;
}

/* line 213, ../../../../../../../WebDev/sass-lib/drupal7-core-for-bootstrap3/_system.theme.scss */
body div.tabledrag-changed-warning {
  margin-bottom: 0.5em;
}

/**
 * TableSelect behavior.
 *
 * @see tableselect.js
*/
/* line 222, ../../../../../../../WebDev/sass-lib/drupal7-core-for-bootstrap3/_system.theme.scss */
tr.selected td {
  background: #ffffcc;
}

/* line 226, ../../../../../../../WebDev/sass-lib/drupal7-core-for-bootstrap3/_system.theme.scss */
td.checkbox,
th.checkbox {
  text-align: center;
}

/**
 * Progress bar.
 *
 * @see progress.js
 */
/* line 235, ../../../../../../../WebDev/sass-lib/drupal7-core-for-bootstrap3/_system.theme.scss */
.progress {
  font-weight: bold;
}

/* line 238, ../../../../../../../WebDev/sass-lib/drupal7-core-for-bootstrap3/_system.theme.scss */
.progress .bar {
  background: #ccc;
  border-color: #666;
  margin: 0 0.2em;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

/* line 246, ../../../../../../../WebDev/sass-lib/drupal7-core-for-bootstrap3/_system.theme.scss */
.progress .filled {
  background: #0072b9 url(../images/core/misc/progress.gif);
}

/**
 * @file
 * Styles for menus and navigation markup.
 */
/**
 * Markup generated by theme_menu_tree().
 */
/* line 39, ../../../../../../../WebDev/sass-lib/drupal7-core-for-bootstrap3/_system.menus.scss */
td.menu-disabled {
  background: #ccc;
}

/**
 * Markup generated by theme_links().
 */
/* line 47, ../../../../../../../WebDev/sass-lib/drupal7-core-for-bootstrap3/_system.menus.scss */
ul.inline,
ul.links.inline {
  display: inline;
  padding-left: 0;
}

/* line 51, ../../../../../../../WebDev/sass-lib/drupal7-core-for-bootstrap3/_system.menus.scss */
ul.inline li {
  display: inline;
  list-style-type: none;
  padding: 0 0.5em;
}

/* line 11, ../../../../../../../WebDev/sass-lib/drupal7-core-for-bootstrap3/_node.scss */
.node-unpublished {
  background-color: #fff4f4;
}

/* line 14, ../../../../../../../WebDev/sass-lib/drupal7-core-for-bootstrap3/_node.scss */
.preview .node {
  background-color: #ffffea;
}

/* line 17, ../../../../../../../WebDev/sass-lib/drupal7-core-for-bootstrap3/_node.scss */
td.revision-current {
  background: #ffffcc;
}

/* line 13, ../../../../../../../WebDev/sass-lib/drupal7-core-for-bootstrap3/_comment.scss */
.indented {
  margin-left: 25px;
  /* LTR */
}

/* line 16, ../../../../../../../WebDev/sass-lib/drupal7-core-for-bootstrap3/_comment.scss */
.comment-unpublished {
  background-color: #fff4f4;
}

/* line 19, ../../../../../../../WebDev/sass-lib/drupal7-core-for-bootstrap3/_comment.scss */
.comment-preview {
  background-color: #ffffea;
}
